name: azure-private-endpoint-operator
serviceType: managed

image:
  registry: gsoci.azurecr.io
  name: giantswarm/azure-private-endpoint-operator
  tag: ""
  pullPolicy: IfNotPresent

pod:
  user:
    id: "65532"
  group:
    id: "65532"

# Add seccomp to pod security context
podSecurityContext:
  seccompProfile:
    type: RuntimeDefault

# Add seccomp to container security context
securityContext:
  seccompProfile:
    type: RuntimeDefault
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL

managementCluster:
  name: PLACEHOLDER
  namespace: org-giantswarm

global:
  podSecurityStandards:
    enforced: false

azure:
  workloadIdentity:
    clientID: ""
